<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pokemons"></ion-back-button>
    </ion-buttons>
    
    <ion-title>delete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Delete</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://www.pngfind.com/pngs/m/332-3327264_pikachu-sad-png-transparent-png.png" alt="pikachu sad">
        <p>¿Estas seguro de eliminar a este pokemon?</p>
      </ion-col>
    </ion-row>
    <ion-row>            
      <ion-col>
        <ion-button expand="full" color="dark" [routerLink]="['/pokemons/view', pokemon_id]" routerDirection="back">No</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="full" color="danger" (click)="deletePokemon(pokemon_id)">Yes</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
