<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="create">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      POKEMONES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">POKEMONES</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item *ngFor = "let data of pokemones" [routerLink]="['/pokemons/view', data.id]">
      <ion-avatar>
        <img [src]="data.link" alt="imagen pokemon">
      </ion-avatar>
      <ion-label >
        <h3>{{data.nombre}} </h3>
        <p>{{data.tipo}} </p>
      </ion-label> 
    </ion-item>

  </ion-list>



</ion-content>

