<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref ="pokemons"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit Pokemon</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="pokemonForm" (ngSubmit)="EdiPokemon(pokemonForm.value)">
          <ion-item>
            <ion-label position="floating">nombre</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">tipo</ion-label>
            <ion-input formControlName="tipo" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Categoria</ion-label>
            <ion-input formControlName="categoria" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">habilidad</ion-label>
            <ion-input formControlName="habilidad" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Peso</ion-label>
            <ion-input formControlName="peso" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">altura</ion-label>
            <ion-input formControlName="altura" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">link</ion-label>
            <ion-input formControlName="link" type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button expand="full" type="submit">Save</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
